Repository googleapis/java-retail, pull requests merged in 2022-03, with the labels that each got.

#290 chore(samples): Code samples for Retail Tutorials. Search service samples (part 2)
  .kokoro/build.sh
  .kokoro/nightly/tutorials-samples.cfg
  README.md
  owlbot.py
  samples/interactive-tutorials/pom.xml
  samples/interactive-tutorials/src/main/java/search/SearchWithFiltering.java
  samples/interactive-tutorials/src/main/java/search/SearchWithOrdering.java
  samples/interactive-tutorials/src/main/java/search/SearchWithPagination.java
  samples/interactive-tutorials/src/main/java/search/SearchWithQueryExpansionSpec.java
  samples/interactive-tutorials/src/test/java/search/SearchWithFilteringTest.java
  samples/interactive-tutorials/src/test/java/search/SearchWithOrderingTest.java
  samples/interactive-tutorials/src/test/java/search/SearchWithPaginationTest.java
  samples/interactive-tutorials/src/test/java/search/SearchWithQueryExpansionSpecTest.java
  samples/interactive-tutorials/src/test/java/util/StreamGobbler.java
  samples/pom.xml
Labels: samples, api: retail

#301 chore(samples): Retail Tutorials. CRUD products
  README.md
  samples/interactive-tutorials/src/main/java/product/AddFulfillmentPlaces.java
  samples/interactive-tutorials/src/main/java/product/CreateProduct.java
  samples/interactive-tutorials/src/main/java/product/CrudProduct.java
  samples/interactive-tutorials/src/main/java/product/DeleteProduct.java
  samples/interactive-tutorials/src/main/java/product/GetProduct.java
  samples/interactive-tutorials/src/main/java/product/RemoveFulfillmentPlaces.java
  samples/interactive-tutorials/src/main/java/product/SetInventory.java
  samples/interactive-tutorials/src/main/java/product/UpdateProduct.java
  samples/interactive-tutorials/src/main/java/setup/SetupCleanup.java
  samples/interactive-tutorials/src/test/java/product/AddFulfillmentPlacesTest.java
  samples/interactive-tutorials/src/test/java/product/CreateProductTest.java
  samples/interactive-tutorials/src/test/java/product/CrudProductTest.java
  samples/interactive-tutorials/src/test/java/product/DeleteProductTest.java
  samples/interactive-tutorials/src/test/java/product/GetProductTest.java
  samples/interactive-tutorials/src/test/java/product/RemoveFulfillmentPlacesTest.java
  samples/interactive-tutorials/src/test/java/product/SetInventoryTest.java
  samples/interactive-tutorials/src/test/java/product/UpdateProductTest.java
Labels: samples, api: retail

#291 chore(samples): Retail Tutorials. Product Setup/Cleanup test resources
  README.md
  samples/interactive-tutorials/src/main/java/events/setup/EventsCreateBigQueryTable.java
  samples/interactive-tutorials/src/main/java/events/setup/EventsCreateGcsBucket.java
  samples/interactive-tutorials/src/main/java/init/CreateTestResources.java
  samples/interactive-tutorials/src/main/java/init/RemoveTestResources.java
  samples/interactive-tutorials/src/main/java/init/TEST_RESOURCES_SETUP_CLEANUP.md
  samples/interactive-tutorials/src/main/java/product/setup/ProductsCreateBigqueryTable.java
  samples/interactive-tutorials/src/main/java/product/setup/ProductsCreateGcsBucket.java
  samples/interactive-tutorials/src/main/java/setup/SetupCleanup.java
  samples/interactive-tutorials/src/main/resources/events_schema.json
  samples/interactive-tutorials/src/main/resources/product_schema.json
  samples/interactive-tutorials/src/main/resources/products.json
  samples/interactive-tutorials/src/main/resources/products_some_invalid.json
  samples/interactive-tutorials/src/main/resources/user_events.json
  samples/interactive-tutorials/src/main/resources/user_events_some_invalid.json
  samples/interactive-tutorials/src/test/java/init/CreateTestResourcesTest.java
  samples/interactive-tutorials/src/test/java/init/RemoveTestResourcesTest.java
Labels: samples, api: retail, owlbot:run

#297 chore(samples): Retail Tutorials. Import products
  README.md
  samples/interactive-tutorials/src/main/java/product/ImportProductsBigQueryTable.java
  samples/interactive-tutorials/src/main/java/product/ImportProductsGcs.java
  samples/interactive-tutorials/src/main/java/product/ImportProductsInlineSource.java
  samples/interactive-tutorials/src/test/java/product/ImportProductsBigQueryTableTest.java
  samples/interactive-tutorials/src/test/java/product/ImportProductsGcsTest.java
  samples/interactive-tutorials/src/test/java/product/ImportProductsInlineSourceTest.java
Labels: samples, api: retail, owlbot:run

#289 chore(samples): Code samples for Retail Tutorials. Search service samples (part 1)
  README.md
  samples/interactive-tutorials/README.md
  samples/interactive-tutorials/images/tutorail1.img
  samples/interactive-tutorials/images/tutorial1.png
  samples/interactive-tutorials/images/tutorials2.png
  samples/interactive-tutorials/images/tutorials3.png
  samples/interactive-tutorials/images/tutorials4.png
  samples/interactive-tutorials/pom.xml
  samples/interactive-tutorials/src/main/java/search/SearchSimpleQuery.java
  samples/interactive-tutorials/src/main/java/search/SearchWithBoostSpec.java
  samples/interactive-tutorials/src/main/java/search/SearchWithFacetSpec.java
  samples/interactive-tutorials/src/test/java/search/SearchSimpleQueryTest.java
  samples/interactive-tutorials/src/test/java/search/SearchWithBoostSpecTest.java
  samples/interactive-tutorials/src/test/java/search/SearchWithFacetSpecTest.java
  samples/interactive-tutorials/src/test/java/util/StreamGobbler.java
Labels: samples, api: retail, owlbot:run

#303 chore(samples): Retail Tutorials. Events (write, rejoin, purge)
  README.md
  samples/interactive-tutorials/pom.xml
  samples/interactive-tutorials/src/main/java/events/PurgeUserEvent.java
  samples/interactive-tutorials/src/main/java/events/RejoinUserEvent.java
  samples/interactive-tutorials/src/main/java/events/WriteUserEvent.java
  samples/interactive-tutorials/src/main/java/product/AddFulfillmentPlaces.java
  samples/interactive-tutorials/src/main/java/product/ImportProductsBigQueryTable.java
  samples/interactive-tutorials/src/main/java/product/ImportProductsGcs.java
  samples/interactive-tutorials/src/main/java/product/ImportProductsInlineSource.java
  samples/interactive-tutorials/src/main/java/product/RemoveFulfillmentPlaces.java
  samples/interactive-tutorials/src/main/java/product/SetInventory.java
  samples/interactive-tutorials/src/main/java/setup/SetupCleanup.java
  samples/interactive-tutorials/src/test/java/events/PurgeUserEventTest.java
  samples/interactive-tutorials/src/test/java/events/RejoinUserEventTest.java
  samples/interactive-tutorials/src/test/java/events/WriteUserEventTest.java
  samples/interactive-tutorials/src/test/java/init/RemoveTestResourcesTest.java
Labels: samples, api: retail

#302 chore(samples): Retail Tutorials. Events import
  README.md
  samples/interactive-tutorials/src/main/java/events/ImportUserEventsBigQuery.java
  samples/interactive-tutorials/src/main/java/events/ImportUserEventsGcs.java
  samples/interactive-tutorials/src/main/java/events/ImportUserEventsInline.java
  samples/interactive-tutorials/src/test/java/events/ImportUserEventsBigQueryTest.java
  samples/interactive-tutorials/src/test/java/events/ImportUserEventsGcsTest.java
  samples/interactive-tutorials/src/test/java/events/ImportUserEventsInlineTest.java
Labels: samples, api: retail

#390 chore: add Cloud Project environment variables
  .kokoro/nightly/tutorials-samples.cfg
  README.md
Labels: api: retail
